<div class="row">
  <div class="col-md-12">
    <app-menu></app-menu>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="min-height: 35.0em;">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card-footer bg-transparent border-success">Wszelkie prawa zastrzeżone</div>
  </div>
</div>
