<div class="row">
  <div class="col-md-12">
    <h4>Lista personalna <a [routerLink]="['/add']" title="Dodaj nową osobę"><i class="fa fa-plus" style="color: green;"></i></a></h4>
    <table class="table table-hover text-center">
      <tr>
        <th>Lp.</th>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Opcje</th>
      </tr>
      <tr *ngFor="let person of persons|sort; let i = index">
        <td>{{i+1}}</td>
        <td>{{person.name}}</td>
        <td>{{person.surname}}</td>
        <td>
          <a href="#" [routerLink]="['/person',{outlets:{personContent:['edit',person.id]}}]"><i
            class="fa fa-pencil px-1"></i></a>
          <a href="#" [routerLink]="['/person',{outlets:{personContent:['detail', person.id]}}]"><i
            class="fa fa-eye px-1"></i></a>
        </td>
      </tr>
    </table>
    <p-paginator [rows]="rows" [totalRecords]="totalRecord" [alwaysShow]="true"
                 (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
