<div class="row">
  <div class="col-md-12">
    <form action="">
      <div class="form-group">
        <label for="username">Login</label>
        <input type="text" name="username" id="username" class="form-control" [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password">
      </div>
      <button class="btn btn-dark btn-sm" (click)="login()">Zaloguj</button>
    </form>
  </div>
</div>

