<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Start</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/project']">Projekty</a>
  </li>
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" [routerLink]="['/list']">Lista osób</a>-->
  <!--</li>-->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/user']">Twoje konto</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/']" (click)="logout($event)">Wyloguj({{username}})</a>
  </li>
</ul>
