<div class="row">
  <div class="col-md-6 pl-3 mx-sm-2">
    <h5>Edycja osoby</h5>
    <div class="form" ngNativeValidate>
      <div class="form-group">
        <label for="name">Imię</label>
        <input type="text"
               class="form-control form-control-sm"
               id="name"
               [(ngModel)]="person.name"
               name="name">
      </div>
      <div class="form-group">
        <label for="secondName">Pozostałe imiona</label>
        <input type="text"
               class="form-control form-control-sm"
               id="secondName"
               [(ngModel)]="person.secondName"
               name="secondName">
      </div>
      <div class="form-group">
        <label for="surname">Nazwisko</label>
        <input type="text"
               class="form-control form-control-sm"
               id="surname"
               [(ngModel)]="person.surname"
               name="surname">
      </div>
      <div class="form-group">
        <label for="familyName">Nazwisko rodowe</label>
        <input type="text"
               class="form-control form-control-sm"
               id="familyName"
               [(ngModel)]="person.familyName"
               name="familyName">
      </div>
      <div class="form-group">
        <label for="sex">Płeć</label>
        <select name="sex" id="sex" [(ngModel)]="person.sex" class="form-control">
          <option *ngFor="let sex of sexies" value="{{sex.value}}">{{sex.label}}</option>
        </select>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <label for="partner">Partner(ka)</label>
          <select id="partner" [(ngModel)]="person.partner" class="form-control" [compareWith]="comparePerson">
            <option *ngFor="let per of persons|sort|withoutPerson:person" [ngValue]="per">{{per.fullName}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="partnerRole">Typ</label>
          <select id="partnerRole" [(ngModel)]="person.partnerRole" class="form-control">
            <option *ngFor="let role of partnerRoles" [value]="role.value">{{role.label}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="mother">Mama</label>
        <select id="mother" [(ngModel)]="person.mother" class="form-control" [compareWith]="comparePerson">
          <option *ngFor="let per of persons|sort|withoutPerson:person|sex:'FEMALE'" [ngValue]="per">{{per.fullName}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="father">Tata</label>
        <select id="father" [(ngModel)]="person.father" class="form-control" [compareWith]="comparePerson">
          <option *ngFor="let per of persons|sort|withoutPerson:person|sex:'MALE'" [ngValue]="per">{{per.fullName}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Data urodzenia</label>
        <input type="date" id="dateOfBirth" class="form-control" [ngModel]="person.dateOfBirth | date:'yyyy-MM-dd'"
               (ngModelChange)="person.dateOfBirth = $event">
      </div>
      <div class="form-group">
        <label for="dateOfDeath">Data śmierci</label>
        <input type="date" id="dateOfDeath" class="form-control" [ngModel]="person.dateOfDeath | date:'yyyy-MM-dd'"
               (ngModelChange)="person.dateOfDeath = $event">
      </div>
      <div class="form-group">
        <label for="children">Dzieci</label>
        <p-listbox id="children"
                   name="children"
                   [options]="persons|sort|withoutPerson:person"
                   [(ngModel)]="person.children"
                   multiple="multiple"
                   [style]="{'width':'100%'}"
                   [listStyle]="{'max-height': '200px'}"
                   filterMode="contains"
                   checkbox="checkbok"
                   filter="filter"
                   optionLabel="fullName">
          <ng-template let-fs pTemplate="item">
            <span class="">{{fs.value.name}} {{fs.value.surname}}</span>
          </ng-template>
        </p-listbox>
      </div>
      <div class="form-group">
        <label for="note">Notatka</label>
        <textarea class="form-control form-control-sm"
                  name="note"
                  id="note"
                  rows="6"
                  [(ngModel)]="person.note"></textarea>
      </div>
      <div class="form-row">
        <div class="col-md-10">
          <div class="custom-file" lang="pl">
            <input type="file" id="picture" class="custom-file-input" (change)="fileUpload($event)" #picture aria-describedby="help">
            <label for="picture" class="custom-file-label">Wybierz zdjęcie główne</label>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-light" (click)="clearPicture()">Usuń</button>
        </div>
      </div>
      <div class="card card-img">
        <img src="{{image}}" style="max-height: 150px"/>
      </div>
      <button class="btn btn-sm btn-dark m-sm-2" (click)="commitEditPerson()">Zapisz</button>
      <button class="btn btn-sm btn-dark m-sm-2" (click)="cancelEditPerson()">Anuluj</button>
      <button class="btn btn-sm btn-danger m-sm-2" (click)="deletePerson()" [style]="{'backround-color':'red'}"
              title="Usuń osobę">
        <i class="fa fa-remove"></i>
      </button>
    </div>
  </div>
</div>


