<div class="container-fluid">
  <!--<div class="row">-->
  <!--<div class="col-md-12">-->
  <!--<app-menu></app-menu>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--<div class="col-md-12">-->
  <!--<router-outlet></router-outlet>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--<div class="col-md-12">-->
  <!--<div class="card-footer bg-transparent border-success">Wszelkie prawa zastrzeżone</div>-->
  <!--</div>-->
  <!--</div>-->
    <div class="col-md-12" *ngIf="!isLogged; then login else content">
    </div>
    <ng-template #login>
      <app-login></app-login>
    </ng-template>
    <ng-template #content>
      <app-content></app-content>
    </ng-template>
</div>

