<div class="row">
  <div class="col-md-9">
    <router-outlet name="personContent"></router-outlet>
  </div>
  <div class="col-md-3">
    <router-outlet name="personRight"></router-outlet>
  </div>
</div>
