<div class="row">
  <div class="col-md-10 mx-1 pt-2">
    <h6>Lista twoich projektów</h6>
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-danger btn-sm" data-toggle="collapse" data-target="#add-project"
                aria-expanded="false" aria-controls="add-project">Utwórz projekt
        </button>
        <div class="collapse" id="add-project" #collapse>
          <div class="card card-body">
            <div class="form form-inline" ngNativeValidate>
              <div class="form-group">
                <label for="name" class="mr-sm-2">Nazwa projektu</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="projectToAdd.name">
              </div>
              <button class="btn btn-sm btn-light mx-sm-2" (click)="addProject($event)">Dodaj</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <ul class="list-group col-md-3">
          <li class="list-group-item alert alert-light" *ngFor="let project of projects">
            <a [routerLink]="['/person', {outlets: {personRight: 'list'}}]">{{project.name}}</a>
            <button class="btn btn-light btn-sm" title="Zmień nazwę" (click)="rename(project.id)"><i
              class="fa fa-edit"></i></button>
            <button class="btn btn-light btn-sm" title="Usuń" (click)="delete(project.id)"><i class="fa fa-remove"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
