<div class="row">
  <div class="col-md-10 mx-1 pt-2">
    <h6>Konfiguracja konta dla użytkownika <small class="btn btn-outline-secondary btn-sm">{{user?.username}}</small></h6>
    <div class="card">
      <div class="card-body">
      <strong>Dane główne</strong> <br>
        Email: {{user?.email}} <br>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-title"><strong>Projekty użytkownika</strong></div>
        <ul class="list-group col-md-3">
          <li class="list-group-item alert alert-light" *ngFor="let project of user?.projects">
            <a href="">{{project.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
