<!--<p>-->
<!--<img src="http://localhost:8080/storage/smile.png" alt="ala">-->
<!--</p>-->
<div class="row m-2 border border-light">
  <div class="col-md-12 d-flex flex-row justify-content-center">
    <div class="m-1 d-flex flex-row justify-content-center" *ngIf="person.father!=null">
      <!--<img src="http://localhost:8080/storage/file/{{person.father.id}}" class="card-img justify-content-center" alt="">-->
      <div class="person-box card mx-sm-2 my-sm-2 px-sm-2 py-sm-2" [routerLink]="['/person',{outlets:{personContent:['detail', person.father?.id]}}]">
        <strong>{{person.father?.name}} {{ person.father?.surname}}</strong>
        <small>
          ur. {{person.dateOfBirth|date:'dd-MM-yyyy'}} <br> śm. {{person.dateOfDeath|date:'dd-MM-yyyy'}}
        </small>
      </div>
    </div>
    <div class="m-1 d-flex flex-row justify-content-center" *ngIf="person.mother!=null">
      <!--<img src="http://localhost:8080/storage/file/{{person.mother.id}}" class="card-img justify-content-center" alt="">-->
      <div class="person-box card mx-sm-2 my-sm-2 px-sm-2 py-sm-2" [routerLink]="['/person',{outlets:{personContent:['detail', person.mother?.id]}}]">
        <strong>{{person.mother?.name}} {{ person.mother?.surname}}</strong>
        <small>
          ur. {{person.dateOfBirth|date:'dd-MM-yyyy'}} <br> śm. {{person.dateOfDeath|date:'dd-MM-yyyy'}}
        </small>
      </div>
    </div>
  </div>
</div>

<div class="row m-2 border border-light">
  <div class="col-md-12 d-flex flex-row justify-content-center">
    <ng-container *ngFor="let per of siblings">
      <div class="m-1 d-flex flex-row justify-content-center">
        <!--<img src="http://localhost:8080/storage/file/{{per.id}}" class="card-img justify-content-center img-fluid"-->
             <!--alt="">-->
        <div class="person-box card mx-sm-2 my-sm-2 px-sm-2 py-sm-2" [routerLink]="['/person',{outlets:{personContent:['detail', per.id]}}]">
          <strong>{{per.name}} {{per.surname}}</strong>
          <small>
            ur. {{per.dateOfBirth|date:'dd-MM-yyyy'}} <br> śm. {{per.dateOfDeath|date:'dd-MM-yyyy'}}
          </small>
        </div>
      </div>
    </ng-container>

    <div class="m-1 d-flex flex-row justify-content-center">
      <!--<img src="http://localhost:8080/storage/file/{{person.id}}" class="card-img justify-content-center" alt="">-->
      <div class="person-box card mx-sm-2 my-sm-2 px-sm-2 py-sm-2" style="background-color: #ffd700" [routerLink]="['/person',{outlets:{personContent:['detail', person.id]}}]">
        <strong>{{ person.name}} {{person.surname}}</strong>
        <small>
          ur. {{person.dateOfBirth|date:'dd-MM-yyyy'}} <br> śm. {{person.dateOfDeath|date:'dd-MM-yyyy'}}
        </small>
      </div>
    </div>

    <div class="m-1 d-flex flex-row justify-content-center" *ngIf="person.partner!=null">
      <!--<img src="http://localhost:8080/storage/file/{{person.partner.id}}" class="card-img justify-content-center"-->
           <!--alt="">-->
      <div class="person-box card mx-sm-2 my-sm-2 px-sm-2 py-sm-2" style="background-color: #ffee55" [routerLink]="['/person',{outlets:{personContent:['detail', person.partner?.id]}}]">
        <strong>{{ person.partner?.name}} {{person.partner?.surname}}</strong>
        <small>
          ur. {{person.partner?.dateOfBirth|date:'dd-MM-yyyy'}} <br> śm.
          {{person.partner?.dateOfDeath|date:'dd-MM-yyyy'}}
        </small>
      </div>
    </div>
  </div>
</div>
<div class="row m-2 border border-light">
  <div class="col-md-12 d-flex flex-row justify-content-center">
    <ng-container *ngFor="let per of person.children">
      <!--<img src="http://localhost:8080/storage/file/{{per.id}}" class="card-img justify-content-center img-thumbnail" alt="">-->
      <div class="person-box card mx-sm-2 my-sm-2 px-sm-2 py-sm-2"
           [routerLink]="['/person',{outlets:{personContent:['detail', per.id]}}]">
        <strong>{{per.name}} {{per.surname}}</strong>
        <small>
          ur. {{per.dateOfBirth|date:'dd-MM-yyyy'}} <br> śm. {{per.dateOfDeath|date:'dd-MM-yyyy'}}
        </small>
      </div>
    </ng-container>
  </div>
</div>
